body {
	margin: 0;
	font-size: 50.5%;
	padding: 0;
	background-color: #fff;
    font-family:'Aleo','Aleo','Sintony','Mohave',proxima-nova;
}

.top-bar {
	background-color: #f46149;
	padding: 10px;
	height: 45px;
}

#main-container {
	width: 100%;
	overflow: scroll; /* Overflow should scroll */
	left: 0px;
	-webkit-overflow-scrolling: touch; /* This gives us scrollbars. */
	position: fixed; /* This means we don't have to worry about overflow issues */
	-webkit-transition: left 0.2s ease-in;
	transition: left 0.2s ease-in;
}

#sub-container {
	position: relative;
}

#content {
	font-size: 1.5em;
	box-sizing: border-box;
	text-align: justify;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.menu-icon {
	padding: 5px 7px 9px 5px;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
	cursor: pointer;
	display: inline-block;
	width: 40px;
	height: 30px;
	float: left;
}

.menu-icon .bar {
	background: white;
	border-radius: 5px;
	width: 40px;
	height: 5px;
	margin: 5px 0 0 0;
}

.slide-in {
	background-color: #2d4b5a;
    width: 220px;
	position: absolute;
	box-shadow: inset -20px 0 30px rgba(0,0,0,0.2);
	top: 0;
	left: -270px;
	-webkit-transition: left 0.2s ease-in;
	transition: left 0.2s ease-in;
}

.slide-in ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.slide-in ul li {
	padding: 10px;
	font-weight: bold;
	font-size: 2em;
	border-bottom: 2px solid #3d6071;
	color: #c4d6e0;
}

.slide-in ul li:hover {
	background-color: #3d6071;
	color: #fff;
}

.slide-in.on {
	left: 0px !important;
}

#main-container.on {
	left: 220px !important;
}


/* IGNORE =========================== */

.demo-bar {
	position: fixed;
	bottom: 0;
	width: 96%;
	padding: 2%;
	font-size: 1em;
	background-color: rgba(220, 220, 214, 0.75);
	text-align: right;
}

.demo-bar a {
	background: rgba(0,0,0,0.2);
	border-radius: 10px;
	text-decoration: none;
	padding: 5px 10px;
	margin: 0 10px 0 0;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #fff;
	font-family: Arial, sans-serif;
	font-weight: bold;
	display: inline-block;
}

.demo-bar a:hover {
	background: rgba(0,0,0,0.3);
}

.travel a {
	text-decoration: none;
	border-bottom: 1px solid #f9f9f9;
	color: #f9f9f9;
	margin: 12px 0 0 0;
	font-size: 1.6em;
	display: inline-block;
	float: right;
}
#ed{
    padding: 0 5% 2% 5%;
    line-height: 130%;
}
#avisos,#intercesion {
	background-color:  #F2F2F2;
}
.fill_height {
	position: relative;
	height: 100%;
}

#avisos div{
	background-color:  white;
	color:#2f2f2f;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 15px;
	padding: 10px 10px 10px 20px;
	text-align: left;
}
#avisos header{
	font-family: 'Aleo-Bold';
	margin-bottom: 5px;
	font-size: 28px;

}
#avisos header b{
	font-family: 'Aleo-Bold';
	margin-bottom: 5px;
	color:#f46149;
}
#avisos section{
	font-family: 'Aleo';
}
#avisos section b{
	font-family: 'Aleo-Bold';
	margin-bottom: 5px;
	margin-right: 3px;
	font-size: 28px;
	// color:#f46149;

}
#avisos footer{
	font-family: 'Aleo-LightItalic';
	display:block;
	text-align: right;
	font-size: 18px;
	color: gray;
	margin-bottom: 5px;
	padding-right: 10%;
	//font-size: 28px;
}

#intercesion section{
	text-align: left;
	background-color:  white;
	color:#2f2f2f;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 15px;
	padding: 10px 10px 10px 10px;
}
#intercesion span{
	background-color:  #F2F2F2;
	color:#2f2f2f;
	display:inline-block;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 15px;
	padding: 10px 10px 10px 20px;
}
#agregarInter input,#agregarInter button{
	font-family: 'Aleo';
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	font-size: 18px;
}
#agregarInter input{
	width:300px;
	display: inline;
}
#agregarInter button{
	margin-left: 10px;
	//float: right;
	display: inline;
}